.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

body {
    background-color: #e6f9ff;
    font-family: 'Source Code Pro', monospace;
}

img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.questions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
font-family: 'Libre Barcode 39 Text', cursive;
font-size: 60px; 
display: flex; 
justify-content: center; 
}

#caption {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#tomImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}

.result {
   text-align:center;
}

button {
    padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 1999px;
  box-shadow: 0 9px #999;
  margin: 50px;
}

.result {
    font-size: 25px;
    
}

body{

    margin-left:20px;
}
